* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
    @media screen and (prefers-reduced-motion: reduce) {
        html {
            scroll-behavior: auto;
        }
    }
}

body {
    height: 100vh;
    background: #31a6c4;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(53, 53, 53);
    overflow-x: hidden; 

}

.title {
    font-size: 10vw;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-bottom: 0;
    margin-top:1em;
}
h2 {
    text-align: center;
    font-size: 2vw;
    text-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

